@tailwind base;
@tailwind components;
@tailwind utilities;


/* BACKGROUND COLOR OF THE WEBSITE */
body{
  background-color: #f7f2ab;
}

/* CODE FOR HOVER EFFECT IN HEADER LINKS */
.nav-link {
  position: relative;
  color: #374151;
  transition: color 0.3s ease;
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffcc70;
  transition: width 0.3s ease;
}
.nav-link:hover::before {
  width: 100%;
}
